@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 80%;
    margin: 100px auto;
}

.container .h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
    color:rgb(199, 71, 32);
    font-weight: 700;
}
body {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(154,219,142,1) 51%);




}